* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030305;
  color: #e6f1ff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  border: none;
  min-height: 100vh;
  display: block;
}
